################################################################################
################################################################################
                        ## Configuration ##
################################################################################
################################################################################
*.ini




################################################################################
################################################################################
                        ## Ipython Notebooks ##
################################################################################
################################################################################
.ipynb_checkpoints/
.DS_Store



################################################################################
################################################################################
                        ## Virtual Environment ##
################################################################################
################################################################################
venv-audit
requirements.txt
